header, body, nav, section, article, aside {
    border: 2px solid black;
    background-color: pink
    ;
}
div {
    text-align: center;
    border-collapse: separate;
    border-spacing: 6px;
    background-color: pink;
}

header {
    background-color: lightgrey;
    border-collapse: separate;
    border-spacing: 6px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

nav {
     background-color: silver;
     border-collapse: separate;
    border-spacing: 6px;
    
}
section {
    width: 325px;
    height: 350px;
    float: center;
    background-color: silver;
}
aside {
    float: center
    ;
}